/*Editing the main card*/
body{
    animation: turnsIn 1s;
}
.content-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-header img{
    max-width: 100% ;
    transition: 1s;
    margin: 10px;
}

.content-main {
    color: white;
    transition: 1s;
    display: flex;
    justify-content: center;
    transition: all 1s;
}
.content-main img{

    margin: 0 auto;
}

.content-main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--adjustFrom);
}
.content-main input, .content-main select{
    margin: 10px auto;
    border-radius: 10px;
    border: 0.01em solid rgb(255, 255, 255);
    outline: none;
    width: 200px;
    height: 30px;
    background: none;
    font-size: var(--adjustFrom);
    color: white;
    transition: all 0.1s;
    cursor: pointer;
    animation: fadeIn 3s;
}

.content-main input{
    padding: 5px;
}
.content-main select:invalid{
   background-color: rgb(62, 35, 158);
}
.content-main input:focus, .content-main select:focus{
    outline: none;
    background-color:rgb(39, 9, 146);
}

.content-main label{
    text-align:  center;
    font-weight: bold;
    text-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.content-main form input[type = "submit"]{
    font-weight: bold;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(255, 166, 0);
    cursor: pointer;
    padding: 0;
}

.content-main form input[type = "submit"]:focus{
    box-shadow: inset 1px 1px 5px rgb(155, 105, 13);
    cursor: pointer;
}

::placeholder{
    color: white;
    opacity: 0.4;
    font-style: italic;
    padding: 10px;
}
.body-content{
    animation: turnsIn 0.2s;
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 3px;
}

.question{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    height: 260px;
}

.question-body{
    text-align: center;
  
}

.question-opt {
    display: flex;
    margin: 15px;
    justify-content: space-around;
}

.question-opt button{
    border: 1px solid white;
    background: none;
    color: white;
    font-weight: bold;
    font-size: 0.5em;
    border-radius: 50px;
    cursor: pointer;
    transition: 1s;
}

.question-opt button:focus{
    background-color: white;
    color: black;
    outline: none;
}

.qtdLevelQuestion{
    border-radius: 5px;
    padding: 5px;
    font-weight: lighter;
    color: black;
    background: yellow;
}

.qtdLevelQuestionred{
    border-radius: 5px;
    padding: 5px;
    font-weight: lighter;
    color: black;
    background: red;
}

.qtdLevelQuestiongreen{
    border-radius: 5px;
    padding: 5px;
    font-weight: lighter;
    color: black;
    background: green;
}

.question-show{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-show button, span{
    margin: 2px;

}

.question-show button{
    cursor: pointer;
}

.question-show button{
    background: none;
    border: none;
    color: #ff6a00;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s;
}

.question-show button:focus{
   outline: none;
   border-radius: 10px;
   color: white;
}
.finalscreen-header{
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}
.finalscreem-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finalscreem-content p{
    text-align: center;
    color: #de9001;
    font-weight: bolder;
    padding: 10px;
    text-shadow: 1px 1px 10px;
}
.qtdLevelQuestionafterMoney{
    display: block;
    background-color: #a91e1e;
    padding: 10px;
    border-radius: 10px;
}
/*Animations*/

@keyframes turnsIn{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}