/*Robot font took from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*Simple reset took from internet and edit by me*/

:root{
    --font: 'Roboto', sans-serif;
    --normalText : 1.2em;
	--titles: 1.5em;
	--adjustFrom: 0.9em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: var(--font);
    box-sizing: border-box;
}
html{
	width: 100vw;
	height: 100vh;
    font-size: var(--normalText);
}
html{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
html::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-image: url('../img/bg-img.jpg');
    background-size: cover;
    background-position: right;
    filter: blur(10px);
}
body{
    padding: 0px 0;
    max-width: 80%;
    position: relative;
    filter: none;
    box-shadow: 0px 0px 10px rgb(43, 42, 42);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
