@media(orientation: landscape){
    
    .content-main form{
        padding: 2.4px;
    }
    .content-main form input[type = "submit"]{
        margin-bottom: 22px;
    }
    .question{
        height: 150px;
    }
    .question-body{
        margin: 0 5px;
    }
    .question-show{
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .question-show button{
        background:blue;
        border-radius: 5px;
        height: 100%;
    }
    .question-show button:focus{
        padding: 2px;
    }
}

@media(orientation: landscape) and (min-height: 300px){
    .question-opt button{
        font-size: 0.7em;
    }
    .content-main form{
        height: 150px;
        padding: 10px;
    }
}

@media(min-width: 1024px){
    .question-body h1{
        font-size: 1.2em;
    }
    .question-opt button{
        margin: 10px;
    }
}
@media(orientation: portrait) and (min-width: 360px){
    .question-opt button{
        font-size: 0.5em;
    }
    .content-main form{
        padding: 9px;
    }
}

@media(min-width: 700px){
    .content-main form{
        padding: 10px;
    }
}

@media(min-width: 1024px){
    content-header img{
        width: 200px;
    }
    body{
        min-height: 60%;
        min-width: 60%;
    }
    .body-content{
        height: 100%;
    }
    .body-content form {
        height: 100%;
        font-size: 1.4em;
    }
    .body-content form input, .body-content form select{
        width:  50%;
    }
    .body-content form input[type = 'submit']{
        width: 30%;
    }
    .qtdLevelQuestionafterMoney{
        font-size: 2em;
        padding: 20px;
    
    }
    .finalscreen-header h1{
        font-size: 2em;
    }
    .finalscreem-content p{
        font-size: 2em;
    }
}